# Devenv
#
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# zig things
.zig-cache/
zig-out/

# test output
output/

# py artifacts
__pycache__
*.pyc
vendor/*
